* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root
{
    --title-base: #e03010;
    --text: #000;
    --yvetal-base: #282d31;
    --yvetal-medio: #982e3b;
    --yvetal-alto: #3c4247;
}

h1 {
    font-size: 26px;
}

.titleHead 
{
    color: var(--title-base);
    font-size: 44px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px
}

.func
{
    text-align: center;
    color:var(--title-base)
}

.link
{
    text-decoration: none;
    color: var(--yvetal-medio);
}

.imgTitle
{
    width: 160px;
}

body 
{
    background-color: var(--yvetal-alto);
    color: var(--text);
}

header 
{
    background: linear-gradient(90deg, var(--yvetal-base), var(--yvetal-medio));
    color: var(--text);
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    border-bottom: 2px solid var(--title-base);
}

.imgTitle 
{
    height: 180px;
    width: 370px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.imgTitle:hover 
{
    transform: scale(1.1);
    filter: drop-shadow(0 0 8px var(--title-base));
}

footer 
{
    background-color:  var(--yvetal-base);
    padding: 20px;
    text-align: center;
    color: #ffff;
}

